apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: longhorn-ansible-test-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ longhorn_storageclass_name }}
  resources:
    requests:
      storage: 1Gi
